
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: local('Lato Light'), local('Lato-Light'),
        url('/assets/fonts/lato-v16-latin-300.eot'),
        url('./assets/fonts/lato-v16-latin-300.woff') format('woff'),
        url('./assets/fonts/lato-v16-latin-300.ttf') format('truetype');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'),
        url('./assets/fonts/lato-v16-latin-regular.eot'),
        url('./assets/fonts/lato-v16-latin-regular.woff') format('woff'),
        url('./assets/fonts/lato-v16-latin-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'),
        url('./assets/fonts/lato-v16-latin-700.eot'),
        url('./assets/fonts/lato-v16-latin-700.woff') format('woff'),
        url('./assets/fonts/lato-v16-latin-700.ttf') format('truetype');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local('Lato Black'), local('Lato-Black'),
        url('./assets/fonts/lato-v16-latin-900.eot'),
        url('./assets/fonts/lato-v16-latin-900.woff') format('woff'),
        url('./assets/fonts/lato-v16-latin-900.ttf') format('truetype');
}
*{
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.wrapper{
    max-width: 1020px;
    margin:0 auto;
}
.portfolio{
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
    padding-bottom: 65px;
}
.container{
    width: 940px;
    margin: 0 auto;
}
.portfolio__title{
    font-size: 30px;
    font-weight: 900;
    color: #666d89;
    padding-top: 60px;
}
.portfolio__text{
    font-size: 18px;
    font-weight: 300;
    color: #767e9e;
    padding-top: 22px;
    padding-bottom: 14px;
}

.portfolio__topic{
    display: flex;
}

.portfolio__topic__btn{
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
    color: #6e7593;
    border: 1px solid #666d89;
    border-radius: 5px;
    padding: 0 6px;
    cursor: pointer;
    background-color: transparent;
    margin-right: 10px;
    transition: .3s ease-in;
}
.portfolio__topic__btn:hover{
    background-color: #f2f2f2;
    color:#6e7593;;
    border-color: #c5c5c5;
}
.portfolio__topic__btn:first-child{
    color: #dedede;
    border-color: #c5c5c5;
}

.portfolio__block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    max-height: 603px;
    overflow: hidden;
    margin-top: 19px;
    align-items: center;
}
.portfolio__item{
    margin-bottom: 17px;
}
.About-us{
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
    padding-bottom: 67px;
}

.About-us__title{
    font-size: 30px;
    font-weight: 900;
    color: #666d89;
    padding-top: 59px;
    padding-bottom: 18px;
}

.About-us__text{
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    color: #8a91ab;
    text-align: justify;
    margin-bottom: 45px;
}

.About-us__column{
    display: flex;
    justify-content: space-between;
}
.About-us__person{
    max-width: 300px;
    overflow: hidden;
}
.About-us__name{
    font-size: 18px;
    font-weight: 900;
    color: #666d89;
    line-height: 18px;
    letter-spacing: -0.14px;
    padding-top: 14px;
    padding-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 300px;
}
.About-us__description{
    font-size: 12px;
    font-weight: 400;
    color: #767e9e;
    line-height: 21.56px;
    text-align: justify;
    padding-bottom: 24px;
}

.social{
    display: flex;
}
.social__icon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #767e9e;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    transition: background-color .2s linear;
}
.social__icon:hover {
    background-color: #2d303a;
}
.social__icon:last-child{
    margin-right: 0;
}

.icon{
    height: 14px;
    width: 14px;
    display: inline-block;
    background-size: cover;
}
.icon:hover{
    filter: invert(50%) sepia(50%) saturate(2500%) hue-rotate(525deg) brightness(100%) contrast(100%);
}

.icon__facebook{
    background-image: url(./assets/images/social/facebook.svg);
}
.icon__google-plus{
    background-image: url(./assets/images/social/google-plus.svg);
}
.icon__twitter{
    background-image: url(./assets/images/social/twitter.svg);
}
.icon__linkedin{
    background-image: url(./assets/images/social/linkedin.svg);
}
