
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: local('Lato Light'), local('Lato-Light'),
        url('/assets/fonts/lato-v16-latin-300.eot'),
        url('./assets/fonts/lato-v16-latin-300.woff') format('woff'),
        url('./assets/fonts/lato-v16-latin-300.ttf') format('truetype');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'),
        url('./assets/fonts/lato-v16-latin-regular.eot'),
        url('./assets/fonts/lato-v16-latin-regular.woff') format('woff'),
        url('./assets/fonts/lato-v16-latin-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'),
        url('./assets/fonts/lato-v16-latin-700.eot'),
        url('./assets/fonts/lato-v16-latin-700.woff') format('woff'),
        url('./assets/fonts/lato-v16-latin-700.ttf') format('truetype');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local('Lato Black'), local('Lato-Black'),
        url('./assets/fonts/lato-v16-latin-900.eot'),
        url('./assets/fonts/lato-v16-latin-900.woff') format('woff'),
        url('./assets/fonts/lato-v16-latin-900.ttf') format('truetype');
}

*{
    margin: 0;
    padding:0;
    font-family: 'Lato', sans-serif;
}
.wrapper{
    max-width: 1020px;
    margin:0 auto;
}

/* section quote */

.quote{
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
}
.inner{
    width: 940px;
    margin: 0 auto;
}
.quote__title{
    font-size: 30px;
    font-weight: 900;
    color: #f0d8d9;
    padding-top: 59px;
    padding-bottom: 18px;
}
.quote__text{
    font-size: 18px;
    font-weight: 300;
    color: #f0adaa;
    line-height: 30px;
    text-align: justify;
    padding-bottom: 30px;
}
.quote__content{
    display: flex;
    justify-content: space-between;
    margin-top: 14px;
}

.form{
    display: flex;
    flex-direction: column;
    width: 620px;
}
.input{
    background-color: #d6564f;
    color: #f48c8f;
    height: 38px;
    padding-left: 15px;
    border-radius: 4px;
    border:none;
    font-size: 12px;
    line-height: 12px;
    font-weight: 400;
    box-sizing: border-box;
    transition: box-shadow .3s ease-in-out;
    outline: none;
    margin-bottom: 16px;
}
.input:hover, .submit:hover{
    background-color: #dd453d;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.input--textarea{
    height: 202px;
    padding-top:12px;
    resize: none;
}
.input::placeholder{
    color: #f48c8f;
}
.submit{
    height: 38px;
    width: 150px;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    background-color: #d6564f;
    color: #f0d8d9;
    cursor:pointer;
    border-radius: 4px;
    border:none;
    outline:none;
    margin-bottom: 13px;
    transition: box-shadow .3s ease-in-out;
}

.contacts{
    width: 300px;
}
.contacts__title{
    font-size: 18px;
    font-weight: 900;
    color: #f0d8d9;
    letter-spacing: -.1px;
    margin-bottom: 7px;
    margin-top: -1px;
}
.contacts__text{
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
    color: #f0d8d9;
    text-align: justify;
    letter-spacing: -.14px;
    margin-bottom: 22px;
}
.contacts__item{
    margin-bottom: 2px;
    list-style: none;
}
.contacts__link{
    text-decoration: none;
}
.location{
    width: 14px;
    height: 12px;
    display: inline-block;
    background-size: cover;
    margin-right: 10px;
}
.phone{
    width: 13px;
    height: 12px;
    display: inline-block;
    background-size: cover;
    margin-right: 10px;
}
.email{
    width: 17px;
    height: 9px;
    display: inline-block;
    background-size: cover;
    margin-right: 6px;
}
.ikon__location{
    background-image: url(./assets/images/icon/location.svg);
}
.ikon__phone{
    background-image: url(./assets/images/icon/phone.svg);
}
.ikon__email{
    background-image: url(./assets/images/icon/email.svg);
}
.contacts__description{
    font-size: 12px;
    line-height: 12px;
    font-weight: 400;
    color: #f0d8d9
}

/* footer */

.footer{
    background-color: #2d303a;
}
.footer__social{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 76px;
}
.footer__copyright{
    font-size: 12px;
    line-height: 12px;
    color: #666d89;
}

.social{
    display: flex;
    list-style: none;
}
.social__right{
    margin-right: 8px;
}
.social__right:last-child{
    margin-right: 0;
}
.social__icon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #767e9e;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .2s linear;
}
.social__icon:hover {
    background-color: #f0d8d9;
}
.icon{
    height: 14px;
    width: 14px;
    display: inline-block;
    background-size: cover;
}
.icon:hover{
    filter: invert(50%) sepia(50%) saturate(2500%) hue-rotate(525deg) brightness(100%) contrast(100%);
}
.icon__facebook{
    background-image: url(./assets/images/social/facebook.svg);
}
.icon__google-plus{
    background-image: url(./assets/images/social/google-plus.svg);
}
.icon__twitter{
    background-image: url(./assets/images/social/twitter.svg);
}
.icon__linkedin{
    background-image: url(./assets/images/social/linkedin.svg);
}
